<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vó Madeira</title>
    <link rel="stylesheet" href="../css/styles.css"> <!-- Caminho para a pasta CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/img/icone.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header>       
        <div class="header-content">
            <img src="../img/logo.png" alt="logo" class="logo"> <!-- Logo adicionada -->
            <h1>Bem-Vindo à Vó Madeira!</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#portfolio">Portfólio</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" class="container">
        <div class="home-content">
            <div class="banner">
                <div class="banner-carousel">
                    <div class="banner-images">
                        <img src="../img/imagem1.jpg" alt="Destaque 1">
                        <img src="../img/imagem2.jpg" alt="Destaque 2">
                        <img src="../img/imagem3.jpg" alt="Destaque 3">
                    </div>
                </div>
            </div>
            <div class="company-info">
                <h2>Vó Madeira</h2>
                <p>Somos uma empresa especializada em criar soluções inovadoras para o seu espaço externo. Com um portfólio diversificado e anos de experiência, oferecemos produtos de alta qualidade que transformam a sua visão em realidade. Conheça nossos projetos e descubra como podemos ajudar você a criar o ambiente dos seus sonhos.</p>
                <a href="https://wa.me/5562992299057" class="contact-button" target="_blank" rel="noopener noreferrer">Entre em Contato</a>
            </div>
        </div>
    </section>

    <!-- Adicionando o contêiner para as seções Sobre e Portfólio -->
    <section id="sobre" class="container">
        <h2>Sobre</h2>
        <p><h2>Fé</h2> <h4>Ela nos fortalece, permite a superação e nos faz evoluir, cada vez mais.</h4></p>
        <p><h2>Humildade</h2><h4>A humildade de se colocar no lugar do outro é fundamental. Nos acolhe, cativa e gera resultados tangíveis para os colaboradores e para a nossa empresa</h4></p>
        <p><h2>Atitude</h2><h4>Ser proativo e jamais permanecer na zona de conforto. Ter atitude para conquistar um cliente, qualificar uma venda, auxiliar um colega de trabalho, solucionar um problema. </h4></p>
        <p><h2>Comprometidos</h2><h4>Estar comprometido com a VO MADEIRA é muito mais do que cumprir a carga horária de trabalho ou as metas anuais. É necessário entender a história, os valores e a missão desta marca e colocar tudo em prática no dia a dia. Falar sempre a verdade, permanecer motivado, apontar falhas, criar soluções.</h4> </p>
        <p><h2>Transparência</h2><h4>Seja qual for a situação, devemos ser honestos e achar a melhor forma de relatar um problema ou impossibilidade. Pode ser com um colega de trabalho, um gestor, um cliente ou fornecedor.</h4></p>
    </section>
    
    <!-- Seção do portfólio com o contêiner -->
    <section id="portfolio" class="container">
        <section id="portfolio-quiosques">
            <h2>Portfólio</h2>
            <h3>Quiosques</h3>
            <div class="portfolio-container">
                <div class="carousel">
                    <div class="carousel-images">
                        <img src="../img/imagem1.jpg" alt="Projeto 1">
                        <img src="../img/imagem2.jpg" alt="Projeto 2">
                        <img src="../img/imagem3.jpg" alt="Projeto 3">
                    </div>
                    <button class="prev">❮</button>
                    <button class="next">❯</button>
                </div>
                <div class="info">
                    <h4>Informações sobre Quiosques</h4>
                    <p id="quiosques-description">Descrição do projeto</p>
                </div>
            </div>
        </section>
    
        <section id="portfolio-pergolados">
            <h3>Pergolados</h3>
            <div class="portfolio-container">
                <div class="carousel">
                    <div class="carousel-images">
                        <img src="../img/imagem1.jpg" alt="Projeto 1">
                        <img src="../img/imagem2.jpg" alt="Projeto 2">
                        <img src="../img/imagem3.jpg" alt="Projeto 3">
                    </div>
                    <button class="prev">❮</button>
                    <button class="next">❯</button>
                </div>
                <div class="info">
                    <h4>Informações sobre Pergolados</h4>
                    <p id="pergolados-description">Descrição do projeto</p>
                </div>
            </div>
        </section>
        
        <section id="portfolio-decks">
            <h3>Decks</h3>
            <div class="portfolio-container">
                <div class="carousel">
                    <div class="carousel-images">
                        <img src="../img/imagem1.jpg" alt="Projeto 1">
                        <img src="../img/imagem2.jpg" alt="Projeto 2">
                        <img src="../img/imagem3.jpg" alt="Projeto 3">
                    </div>
                    <button class="prev">❮</button>
                    <button class="next">❯</button>
                </div>
                <div class="info">
                    <h4>Informações sobre Decks</h4>
                    <p id="decks-description">Descrição do projeto</p>
                </div>
            </div>
        </section>
    </section>
    
    <!-- Seção de contato -->
    <section id="contato">
        <h2>Contato</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Seu nome" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Seu email" required>

            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" placeholder="Sua mensagem" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </section>
 
    <!-- Rodapé -->
    <footer>
        <div class="footer-content">
            <div class="footer-column company-details">
                <p><strong>Vó Madeira</strong></p>
                <p>CNPJ: 29.878.864/0001-92</p>
                <p>Email: vomadeiragyn@outlook.com</p>
                <p>Telefone: (62) 99229-9057</p>
                <p>Endereço: R. Vicinal Escócia - Goiânia - Goias</p>
            </div>
            <div class="footer-column social-media">
                <a href="https://www.instagram.com/vomadeira" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                  
                  <!-- Ícone do Facebook -->
                  <a href="https://www.facebook.com/vomadeira" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
            </div>
        </div>
        <p>&copy; 2024 - Desenvolvido por GomesTchnology</p>
    </footer>

    <!-- Botão de Voltar ao Topo --> 
    <button id="back-to-top" title="Voltar ao topo"><i class="fas fa-chevron-up"></i></button>

    <!-- Script JS -->
    <script src="../js/script.js"></script> <!-- Caminho para a pasta JS -->
</body>
</html>
