/* RESPONSIVO */

@media (min-width: 768px) {
  .Cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .quiosque-fotos, .banco-fotos {
    grid-template-columns: repeat(2, 1fr);
  }

  .Contato {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-contato {
    flex: 1;
    margin: 0;
  }
}

/* ===== Notebooks (>=1024px) ===== */
@media (min-width: 1024px) {
  .Cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .quiosque-fotos, .banco-fotos {
    grid-template-columns: repeat(3, 1fr);
  }

  .Contato {
    gap: 50px;
    padding: 80px 40px;
  }

  .hero-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px){ 

* {
  box-sizing: border-box;
}

nav {
   margin-inline: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
  }

.nav-lista {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #2e2206ca;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 60px;
    padding-bottom: 180px;
    gap: 40px;
    transition: right 0.5s ease-in-out; 
    z-index: 1000;
  }

.nav-lista.active {
    right: 0; /* desliza para dentro da tela pela direita */
  }


.nav-lista li {
    opacity: 0;
    transform: translateX(40px);
    transition: 0.2s ease;
  }

.nav-lista.active li {
    opacity: 1;
    transform: translateX(0);
  }

.nav-lista a {
  display: inline-block;
  text-decoration: none;
  color: #FAF5E9;
  font-size: 24px;
  position: relative;
  font-weight: 400;
   } 

/* atraso pra efeito cascata */
.nav-lista.active li:nth-child(1) { transition-delay: 0.1s; }
.nav-lista.active li:nth-child(2) { transition-delay: 0.2s; }
.nav-lista.active li:nth-child(3) { transition-delay: 0.3s; }
.nav-lista.active li:nth-child(4) { transition-delay: 0.4s; }

/* Ícone hambúrguer visível no mobile */
.menu-icon {
  display: block;
  z-index: 1100;
  font-size: 40px;
  margin-left: -10px;
  }

.menu-icon i {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-icon i.bx-menu {
  opacity: 1;
  transform: rotate(0deg);
}

.menu-icon i.bx-x {
  opacity: 1;
  transform: rotate(180deg);
}

  nav .logo {
  width: 160px;
  margin-left: -40px;
  height: auto;
}



.martelo1 {
  display: none;
}

.martelo2 {
  display: none;
}


.banner-carousel {
  position: relative;
  width: 100%;
  height: 700px; 
  overflow: hidden;
  border-radius: 15px;
  background-color: #2c1e00;
}

.hero-content {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -128%);
  text-align: center;
  color: #FAF5E9;
  z-index: 2;
  max-width: 400px;
}

.hero-content h1 {
  font-size: 38px;
  margin-bottom: 15px;
  font-family: "PT Serif Caption", serif;
  font-weight: 300;
  animation: fadeUp 1s ease forwards;
}

.hero-content p {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  font-size: 17px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  animation: fadeUp 1s ease forwards;
}

.destaque {
  font-weight: 700;
  white-space: nowrap;
  white-space: normal;
}

.hero-btn {
  width: 250px;
  height: 70px;
  overflow: hidden;
  border-radius: 15px;
  border: 2.5px solid #F5E2B7;
  padding: 22px 24px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #46330A;
  font-weight: 700;
  animation: pulsar 1.5s infinite ease-in-out;
  background: linear-gradient(120deg, #F5E2B7, #C1AA74);
  transition: background 0.5s ease-in-out;
}


.Sobre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "texto"
      "imagem";
    gap: 60px;
    width: 100%;
    margin-top: -450px;
    box-sizing: border-box;
  }

  .sobre_texto {
    max-width: 420px;
    padding: 0 10px 40px;
  }

  .sobre_imagen {
    grid-area: imagem;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  .sobre_imagen img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
  }

  .sobre_texto h2 {
    font-size: 36px;
  }

  .sobre_texto p {
    font-size: 18px;
    text-align: left;
    margin-right: 50px;
  }



.Beneficios {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}


.content-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
}


.texts {
    padding: 10px;
    text-align: left;
  }

  .texts h2 {
    font-size: 36px;
    padding-bottom: 30px;
  }

  .texts p {
    font-size: 18px;
  }

  .Cards {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    padding: 20px 10px 0;
    margin: 0 auto;
  }

  .card1 {
    max-width: 350px;
    height: 340px;
    max-width: 400px;
    padding-bottom: 20px;
  }
  
  .card1 p {
    text-align: left;
    font-size: 17px;
  }

  .card1 h3 {
    text-align: left;
    font-size: 22px;
  }

  .Cards > :nth-child(4),
  .Cards > :nth-child(5) {
    grid-column: auto;
    margin-left: 0;
  }

  .hero-btn2 {
    width: 80%;
    max-width: 350px;
    margin-top: 20px;
    align-self: center;
  }

  .texts-portfolio h2 {
  font-size: 36px;
  padding-left: 20px;
  color: #46330A;
  margin-top: -20px;
  padding-bottom: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "PT Serif Caption", serif;
  }

  .texts-portfolio p {
  line-height: 1.6;
  padding-left: 20px;
  font-size: 18px;
  text-align: left;
  color: #46330A;
  font-weight: 500;
}

.itens-portfolio {
  position: relative;
  height: 4700px;
  padding: 40px 20px;
  margin-top: -20px;
  z-index: 1;
  border-radius: 15px;
}

.lightbox.show {
  display: none;
  opacity: 1;
}

  .Contato {
    flex-direction: column;   
    align-items: center;      
    gap: 40px;                
    padding: 80px 20px;      
    margin-bottom: 20px;
  }

  .textos-contato {
    margin: 0;                
    width: 100%;              
  }

  .textos-contato h2 {
    font-size: 36px;
    color: #46330A;
    padding-bottom: 15px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .form-contato {
    border-radius: 15px;
    width: 100%;              
    max-width: 100%;          
    margin: 0;                
    padding: 30px 20px;       
    height: auto;             
  }

  .form-contato h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  .form-contato input,
  .form-contato textarea {
    font-size: 14px;          
  }

  .form-contato button {
    font-size: 18px;
    height: 55px;
    margin-top: 5px;
    padding-top: 14px;
    border-radius: 12px;
  }

  .quiosque-fotos,
  .banco-fotos {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    }

    .foto-quiosque {
    width: 120%;
    max-width: 350px;
    height: auto;
    }

    .itens-portfolio {
    position: relative;
    height: 15650px;
    background-color: #2c1e00; 
    padding: 40px 20px;
    z-index: 1;
    padding-bottom: 30px;
    border-radius: 15px;
  }

  .text-itens-portfolio1 h2 {
    font-size: 36px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 30px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio1 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio2 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio2 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio3 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio3 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio4 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio4 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }


  .footer {
      height: auto; 
      padding: 40px 20px;
      text-align: left;
    }

    .footer-container {
      padding-inline: 0;
      flex-direction: column;
      align-items: left;
      gap: 30px;
    }

    .footer-col1,
    .footer-col2,
    .footer-col3 {
      margin: 0; /* remove margins fixas */
      flex: 1 1 100%;
    }

    .logo-footer {
      margin: 0 auto 10px auto; /* centraliza */
      width: 150px;
    }

    .CNPJ {
      margin: 0;
      text-align: left;
      font-size: 14px;
    }

    hr {
      margin: 20px auto;
      width: 100%; /* linha menor no mobile */
    }

    .copyright {
      margin: 20px auto 0 auto;
      text-align: center;
      font-size: 16px;
    }

    .footer-column.social-media {
      justify-content: left; /* centraliza os ícones */
      margin-top: 10px;
    }

    .footer-column.social-media a {
      padding-top: 10px;
      font-size: 24px;
    }

    .last-cta {
    align-items: center;
    width: 340px;
    display: block;
    margin-top: 80px;
    margin-left: 3px;
    height: 350px;
    background-color: #46330A;
    background-image: url(/static/img/last-cta-foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white; 
    justify-content: space-between;
    padding-left: 30px;
  }

  .last-cta h2 {
    font-size: 36px;
    color: #FAF5E9;
    margin-top: -100px;
    font-weight: 400;
    text-align: center;
    font-family: "PT Serif Caption", serif;
  }

  .last-cta p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 18px;
    margin-top: -120px;
    text-align: center;
    font-weight: 500;
  }

  .hero-btn3 {
    width: 280px;
    height: 70px;
    border-radius: 15px;
    border: 2.5px solid #F5E2B7;
    padding: 22px;
    margin-top: -1px;
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #46330A;
    font-weight: 700;
    animation: pulsar 1.5s infinite ease-in-out;
    background: linear-gradient(90deg, #F5E2B7, #C1AA74);
  }
  }

  @media screen and (max-width: 428px){

  .hero-content {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -118%);
  text-align: center;
  color: #FAF5E9;
  z-index: 2;
  max-width: 400px;
}

  .sobre_texto {
    max-width: 420px;
    padding: 0 10px 40px;
  }

  .sobre_imagen {
    grid-area: imagem;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  .sobre_imagen img {
    width: 110%;
    height: auto;
    margin-right: -30px;
    border-radius: 12px;
    object-fit: cover;
  }

  .sobre_texto h2 {
    font-size: 38px;
  }

  .sobre_texto p {
    font-size: 20px;
    text-align: left;
    margin-right: 10px;
  }

  .quiosque-fotos,
  .banco-fotos {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    }

    .foto-quiosque {
    width: 120%;
    max-width: 390px;
    height: auto;
    }

    .last-cta {
    align-items: center;
    width: 380px;
    display: block;
    margin-top: 80px;
    margin-left: 0 auto;
    height: 350px;
    background-color: #46330A;
    background-image: url(/static/img/last-cta-foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white; 
    justify-content: space-between;
    padding-left: 30px;
  }

  .last-cta h2 {
    font-size: 36px;
    color: #FAF5E9;
    margin-top: -100px;
    font-weight: 400;
    text-align: center;
    font-family: "PT Serif Caption", serif;
  }

  .last-cta p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 18px;
    margin-top: -100px;
    text-align: center;
    font-weight: 500;
  }

  .hero-btn3 {
    width: 300px;
    height: 80px;
    border-radius: 15px;
    border: 2.5px solid #F5E2B7;
    padding: 24px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #46330A;
    font-weight: 700;
    animation: pulsar 1.5s infinite ease-in-out;
    background: linear-gradient(90deg, #F5E2B7, #C1AA74);
  }

  .itens-portfolio {
    position: relative;
    height: 17060px;
    background-color: #2c1e00; 
    padding: 40px 20px;
    z-index: 1;
    padding-bottom: 30px;
    border-radius: 15px;
  }

  .content-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
}


.texts {
    padding: 10px;
    text-align: left;
  }

  .texts h2 {
    font-size: 38px;
    padding-bottom: 30px;
  }

  .texts p {
    font-size: 20px;
  }

  .Cards {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    padding: 20px 10px 0;
    margin: 0 auto;
  }

  .card1 {
    height: 340px;
    
    padding-bottom: 20px;
  }
  
  .card1 p {
    text-align: left;
    font-size: 17px;
  }

  .card1 h3 {
    text-align: left;
    font-size: 24px;
  }

  .Cards > :nth-child(4),
  .Cards > :nth-child(5) {
    grid-column: auto;
    margin-left: 0;
  }

  .hero-btn2 {
    width: 80%;
    max-width: 350px;
    margin-top: 20px;
    align-self: center;
  }

  .texts-portfolio h2 {
  font-size: 38px;
  padding-left: 20px;
  color: #46330A;
  margin-top: -20px;
  padding-bottom: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "PT Serif Caption", serif;
  }

  .texts-portfolio p {
  line-height: 1.6;
  padding-left: 20px;
  font-size: 20px;
  text-align: left;
  color: #46330A;
  font-weight: 500;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 15px;
  font-family: "PT Serif Caption", serif;
  font-weight: 300;
  animation: fadeUp 1s ease forwards;
}

.hero-content p {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  font-size: 17px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  animation: fadeUp 1s ease forwards;
}

.destaque {
  font-weight: 700;
  white-space: nowrap;
  white-space: normal;
}

.hero-btn {
  width: 300px;
  height: 80px;
  overflow: hidden;
  border-radius: 15px;
  border: 2.5px solid #F5E2B7;
  padding: 24px 24px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #46330A;
  font-weight: 700;
  animation: pulsar 1.5s infinite ease-in-out;
  background: linear-gradient(120deg, #F5E2B7, #C1AA74);
  transition: background 0.5s ease-in-out;
}

.Contato {
    margin-right: 0;
}
}

@media screen and (max-width: 430px){

* {
  box-sizing: border-box;
}

nav {
   margin-inline: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
  }

.nav-lista {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #2e2206ca;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 60px;
    padding-bottom: 180px;
    gap: 40px;
    transition: right 0.5s ease-in-out; 
    z-index: 1000;
  }

.nav-lista.active {
    right: 0; /* desliza para dentro da tela pela direita */
  }


.nav-lista li {
    opacity: 0;
    transform: translateX(40px);
    transition: 0.2s ease;
  }

.nav-lista.active li {
    opacity: 1;
    transform: translateX(0);
  }

.nav-lista a {
  display: inline-block;
  text-decoration: none;
  color: #FAF5E9;
  font-size: 24px;
  position: relative;
  font-weight: 400;
   } 

/* atraso pra efeito cascata */
.nav-lista.active li:nth-child(1) { transition-delay: 0.1s; }
.nav-lista.active li:nth-child(2) { transition-delay: 0.2s; }
.nav-lista.active li:nth-child(3) { transition-delay: 0.3s; }
.nav-lista.active li:nth-child(4) { transition-delay: 0.4s; }

/* Ícone hambúrguer visível no mobile */
.menu-icon {
  display: block;
  z-index: 1100;
  font-size: 40px;
  margin-left: -10px;
  }

.menu-icon i {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-icon i.bx-menu {
  opacity: 1;
  transform: rotate(0deg);
}

.menu-icon i.bx-x {
  opacity: 1;
  transform: rotate(180deg);
}

  nav .logo {
  width: 160px;
  margin-left: -40px;
  height: auto;
}



.martelo1 {
  display: none;
}

.martelo2 {
  display: none;
}


.banner-carousel {
  position: relative;
  width: 100%;
  height: 700px; 
  overflow: hidden;
  border-radius: 15px;
  background-color: #2c1e00;
}

.hero-content {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -128%);
  text-align: center;
  color: #FAF5E9;
  z-index: 2;
  max-width: 400px;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-family: "PT Serif Caption", serif;
  font-weight: 300;
  animation: fadeUp 1s ease forwards;
}

.hero-content p {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  font-size: 15px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  animation: fadeUp 1s ease forwards;
}

.destaque {
  font-weight: 700;
  white-space: nowrap;
  white-space: normal;
}

.hero-btn {
  width: 250px;
  height: 70px;
  overflow: hidden;
  border-radius: 15px;
  border: 2.5px solid #F5E2B7;
  padding: 22px 24px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #46330A;
  font-weight: 700;
  animation: pulsar 1.5s infinite ease-in-out;
  background: linear-gradient(120deg, #F5E2B7, #C1AA74);
  transition: background 0.5s ease-in-out;
}


.Sobre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "texto"
      "imagem";
    gap: 60px;
    width: 100%;
    margin-top: -450px;
    box-sizing: border-box;
  }

  .sobre_texto {
    max-width: 420px;
    padding: 0 10px 40px;
  }

  .sobre_imagen {
    grid-area: imagem;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  .sobre_imagen img {
    width: 100%;
    height: auto;
    margin-right: 0px;
    border-radius: 12px;
    object-fit: cover;
  }

  .sobre_texto h2 {
    font-size: 36px;
  }

  .sobre_texto p {
    font-size: 18px;
    text-align: left;
    margin-right: 50px;
  }


  /* Seção principal */
.Beneficios {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Cabeçalho com título, subtítulo e botão */
.content-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
}


.texts {
    padding: 10px;
    text-align: left;
  }

  .texts h2 {
    font-size: 36px;
    padding-bottom: 30px;
  }

  .texts p {
    font-size: 18px;
  }

  .Cards {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    padding: 20px 10px 0;
    margin: 0 auto;
  }

  .card1 {
    max-width: 350px;
    height: 340px;
    max-width: 400px;
    padding-bottom: 20px;
  }
  
  .card1 p {
    text-align: left;
    font-size: 17px;
  }

  .card1 h3 {
    text-align: left;
    font-size: 22px;
  }

  .Cards > :nth-child(4),
  .Cards > :nth-child(5) {
    grid-column: auto;
    margin-left: 0;
  }

  .hero-btn2 {
    width: 80%;
    max-width: 350px;
    margin-top: 20px;
    align-self: center;
  }

  .texts-portfolio h2 {
  font-size: 36px;
  padding-left: 20px;
  color: #46330A;
  margin-top: -20px;
  padding-bottom: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "PT Serif Caption", serif;
  }

  .texts-portfolio p {
  line-height: 1.6;
  padding-left: 20px;
  font-size: 18px;
  text-align: left;
  color: #46330A;
  font-weight: 500;
}

.itens-portfolio {
  position: relative;
  height: 4700px;
  padding: 40px 20px;
  margin-top: -20px;
  z-index: 1;
  border-radius: 30px;
}

.lightbox.show {
  display: none;
  opacity: 1;
}

  .Contato {
    flex-direction: column;   
    align-items: center;      
    gap: 40px;                
    padding: 80px 20px;      
    margin-bottom: 20px;
    margin-right: 0;
  }

  .textos-contato {
    margin: 0;                
    width: 100%;              
  }

  .textos-contato h2 {
    font-size: 36px;
    color: #46330A;
    padding-bottom: 15px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .form-contato {
    border-radius: 15px;
    width: 100%;              
    max-width: 100%;          
    margin: 0;                
    padding: 30px 20px;       
    height: auto;             
  }

  .form-contato h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  .form-contato input,
  .form-contato textarea {
    font-size: 14px;          
  }

  .form-contato button {
    font-size: 18px;
    height: 55px;
    margin-top: 5px;
    padding-top: 14px;
    border-radius: 12px;
  }

  .quiosque-fotos,
  .banco-fotos {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    }

    .foto-quiosque {
    width: 120%;
    max-width: 350px;
    height: auto;
    }

    .itens-portfolio {
    position: relative;
    height: 15650px;
    background-color: #2c1e00; 
    padding: 40px 20px;
    z-index: 1;
    padding-bottom: 30px;
    border-radius: 15px;
  }

  .text-itens-portfolio1 h2 {
    font-size: 36px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 30px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio1 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio2 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio2 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio3 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio3 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio4 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio4 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }


  .footer {
      height: auto; 
      padding: 40px 20px;
      text-align: left;
    }

    .footer-container {
      padding-inline: 0;
      flex-direction: column;
      align-items: left;
      gap: 30px;
    }

    .footer-col1,
    .footer-col2,
    .footer-col3 {
      margin: 0; /* remove margins fixas */
      flex: 1 1 100%;
    }

    .logo-footer {
      margin: 0 auto 10px auto; /* centraliza */
      width: 150px;
    }

    .CNPJ {
      margin: 0;
      text-align: left;
      font-size: 14px;
    }

    hr {
      margin: 20px auto;
      width: 100%; /* linha menor no mobile */
    }

    .copyright {
      margin: 20px auto 0 auto;
      text-align: center;
      font-size: 16px;
    }

    .footer-column.social-media {
      justify-content: left;
      margin-top: 10px;
    }

    .footer-column.social-media a {
      padding-top: 10px;
      font-size: 24px;
    }

    .last-cta {
    align-items: center;
    width: 340px;
    display: block;
    margin-top: 80px;
    margin-left: 3px;
    padding-top: 40px;
 
    height: 350px;
    background-color: #46330A;
    background-image: url(/static/img/last-cta-foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white; 
    justify-content: space-between;
    padding-left: 30px;
  }

  .last-cta h2 {
    font-size: 33px;
    color: #FAF5E9;
    margin-top: -100px;
    font-weight: 400;
    text-align: center;
    font-family: "PT Serif Caption", serif;
  }

  .last-cta p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 18px;
    margin-top: -110px;
    text-align: center;
    font-weight: 500;
  }

  .hero-btn3 {
    width: 280px;
    height: 70px;
    border-radius: 15px;
    border: 2.5px solid #F5E2B7;
    padding: 22px;
    margin-top: -1px;
    margin-left: 0.1rem;
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #46330A;
    font-weight: 700;
    animation: pulsar 1.5s infinite ease-in-out;
    background: linear-gradient(90deg, #F5E2B7, #C1AA74);
  }
  }

@media screen and (max-width: 400px){ 

* {
  box-sizing: border-box;
}

nav {
   margin-inline: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
  }

.nav-lista {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #2e2206ca;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 60px;
    padding-bottom: 180px;
    gap: 40px;
    transition: right 0.5s ease-in-out; 
    z-index: 1000;
  }

.nav-lista.active {
    right: 0; /* desliza para dentro da tela pela direita */
  }


.nav-lista li {
    opacity: 0;
    transform: translateX(40px);
    transition: 0.2s ease;
  }

.nav-lista.active li {
    opacity: 1;
    transform: translateX(0);
  }

.nav-lista a {
  display: inline-block;
  text-decoration: none;
  color: #FAF5E9;
  font-size: 24px;
  position: relative;
  font-weight: 400;
   } 

/* atraso pra efeito cascata */
.nav-lista.active li:nth-child(1) { transition-delay: 0.1s; }
.nav-lista.active li:nth-child(2) { transition-delay: 0.2s; }
.nav-lista.active li:nth-child(3) { transition-delay: 0.3s; }
.nav-lista.active li:nth-child(4) { transition-delay: 0.4s; }

/* Ícone hambúrguer visível no mobile */
.menu-icon {
  display: block;
  z-index: 1100;
  font-size: 40px;
  margin-left: -10px;
  }

.menu-icon i {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-icon i.bx-menu {
  opacity: 1;
  transform: rotate(0deg);
}

.menu-icon i.bx-x {
  opacity: 1;
  transform: rotate(180deg);
}

  nav .logo {
  width: 160px;
  margin-left: -40px;
  height: auto;
}



.martelo1 {
  display: none;
}

.martelo2 {
  display: none;
}


.banner-carousel {
  position: relative;
  width: 100%;
  height: 700px; 
  overflow: hidden;
  border-radius: 15px;
  background-color: #2c1e00;
}

.hero-content {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -128%);
  text-align: center;
  color: #FAF5E9;
  z-index: 2;
  max-width: 400px;
}

.hero-content h1 {
  font-size: 38px;
  margin-bottom: 15px;
  font-family: "PT Serif Caption", serif;
  font-weight: 300;
  animation: fadeUp 1s ease forwards;
}

.hero-content p {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  font-size: 17px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  animation: fadeUp 1s ease forwards;
}

.destaque {
  font-weight: 700;
  white-space: nowrap;
  white-space: normal;
}

.hero-btn {
  width: 250px;
  height: 70px;
  overflow: hidden;
  border-radius: 15px;
  border: 2.5px solid #F5E2B7;
  padding: 22px 24px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #46330A;
  font-weight: 700;
  animation: pulsar 1.5s infinite ease-in-out;
  background: linear-gradient(120deg, #F5E2B7, #C1AA74);
  transition: background 0.5s ease-in-out;
}


.Sobre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "texto"
      "imagem";
    gap: 60px;
    width: 100%;
    margin-top: -450px;
    box-sizing: border-box;
  }

  .sobre_texto {
    max-width: 420px;
    padding: 0 10px 40px;
  }

  .sobre_imagen {
    grid-area: imagem;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  .sobre_imagen img {
    width: 95%;
    height: auto;
    margin-right: 0 auto;
    border-radius: 12px;
    object-fit: cover;
  }

  .sobre_texto h2 {
    font-size: 36px;
  }

  .sobre_texto p {
    font-size: 18px;
    text-align: left;
    margin-right: 50px;
  }


  /* Seção principal */
.Beneficios {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Cabeçalho com título, subtítulo e botão */
.content-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
}


.texts {
    padding: 10px;
    text-align: left;
  }

  .texts h2 {
    font-size: 36px;
    padding-bottom: 30px;
  }

  .texts p {
    font-size: 18px;
  }

  .Cards {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    padding: 20px 10px 0;
    margin: 0 auto;
  }

  .card1 {
    max-width: 350px;
    height: 340px;
    max-width: 400px;
    padding-bottom: 20px;
  }
  
  .card1 p {
    text-align: left;
    font-size: 16px;
  }

  .card1 h3 {
    text-align: left;
    font-size: 22px;
  }

  .Cards > :nth-child(4),
  .Cards > :nth-child(5) {
    grid-column: auto;
    margin-left: 0;
  }

  .hero-btn2 {
    width: 80%;
    max-width: 350px;
    margin-top: 20px;
    align-self: center;
  }

  .texts-portfolio h2 {
  font-size: 36px;
  padding-left: 20px;
  color: #46330A;
  margin-top: -20px;
  padding-bottom: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "PT Serif Caption", serif;
  }

  .texts-portfolio p {
  line-height: 1.6;
  padding-left: 20px;
  font-size: 18px;
  text-align: left;
  color: #46330A;
  font-weight: 500;
}

.itens-portfolio {
  position: relative;
  height: 400px;
  padding: 40px 20px;
  margin-top: -20px;
  z-index: 1;
  border-radius: 30px;
}

.lightbox.show {
  display: none;
  opacity: 1;
}

  .Contato {
    flex-direction: column;   
    align-items: center;      
    gap: 40px;                
    padding: 80px 20px;      
    margin-bottom: 20px;
  }

  .textos-contato {
    margin: 0;                
    width: 100%;              
  }

  .textos-contato h2 {
    font-size: 36px;
    color: #46330A;
    padding-bottom: 15px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .form-contato {
    border-radius: 15px;
    width: 100%;              
    max-width: 100%;          
    margin: 0;                
    padding: 30px 20px;       
    height: auto;             
  }

  .form-contato h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  .form-contato input,
  .form-contato textarea {
    font-size: 14px;          
  }

  .form-contato button {
    font-size: 18px;
    height: 55px;
    margin-top: 5px;
    padding-top: 14px;
    border-radius: 12px;
  }

  .quiosque-fotos,
  .banco-fotos {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    }

    .foto-quiosque {
    width: 120%;
    max-width: 350px;
    height: auto;
    }

    .itens-portfolio {
    position: relative;
    height: 15650px;
    background-color: #2c1e00; 
    padding: 40px 20px;
    z-index: 1;
    padding-bottom: 30px;
    border-radius: 15px;
  }

  .text-itens-portfolio1 h2 {
    font-size: 36px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 30px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio1 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio2 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio2 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio3 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio3 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio4 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio4 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }


  .footer {
      height: auto; 
      padding: 40px 20px;
      text-align: left;
    }

    .footer-container {
      padding-inline: 0;
      flex-direction: column;
      align-items: left;
      gap: 30px;
    }

    .footer-col1,
    .footer-col2,
    .footer-col3 {
      margin: 0; /* remove margins fixas */
      flex: 1 1 100%;
    }

    .logo-footer {
      margin: 0 auto 10px auto; /* centraliza */
      width: 150px;
    }

    .CNPJ {
      margin: 0;
      text-align: left;
      font-size: 14px;
    }

    hr {
      margin: 20px auto;
      width: 100%; /* linha menor no mobile */
    }

    .copyright {
      margin: 20px auto 0 auto;
      text-align: center;
      font-size: 16px;
    }

    .footer-column.social-media {
      justify-content: left; /* centraliza os ícones */
      margin-top: 10px;
    }

    .footer-column.social-media a {
      padding-top: 10px;
      font-size: 24px;
    }

    .last-cta {
    align-items: center;
    width: 340px;
    display: block;
    margin-top: 80px;
    margin-left: 0 auto;
    height: 350px;
    background-color: #46330A;
    background-image: url(/static/img/last-cta-foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white; 
    justify-content: space-between;
    padding-left: 30px;
  }

  .last-cta h2 {
    font-size: 36px;
    color: #FAF5E9;
    margin-top: -100px;
    font-weight: 400;
    text-align: center;
    font-family: "PT Serif Caption", serif;
  }

  .last-cta p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    margin-top: -110px;
    text-align: center;
    font-weight: 500;
  }

  .hero-btn3 {
    width: 280px;
    height: 70px;
    border-radius: 15px;
    border: 2.5px solid #F5E2B7;
    padding: 22px;
    margin-top: -1px;
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #46330A;
    font-weight: 700;
    animation: pulsar 1.5s infinite ease-in-out;
    background: linear-gradient(90deg, #F5E2B7, #C1AA74);
  }
  }

@media screen and (max-width: 390px){

* {
  box-sizing: border-box;
}

nav {
   margin-inline: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
  }

.nav-lista {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #2e2206ca;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 60px;
    padding-bottom: 180px;
    gap: 40px;
    transition: right 0.5s ease-in-out; 
    z-index: 1000;
  }

.nav-lista.active {
    right: 0; /* desliza para dentro da tela pela direita */
  }


.nav-lista li {
    opacity: 0;
    transform: translateX(40px);
    transition: 0.2s ease;
  }

.nav-lista.active li {
    opacity: 1;
    transform: translateX(0);
  }

.nav-lista a {
  display: inline-block;
  text-decoration: none;
  color: #FAF5E9;
  font-size: 24px;
  position: relative;
  font-weight: 400;
   } 

/* atraso pra efeito cascata */
.nav-lista.active li:nth-child(1) { transition-delay: 0.1s; }
.nav-lista.active li:nth-child(2) { transition-delay: 0.2s; }
.nav-lista.active li:nth-child(3) { transition-delay: 0.3s; }
.nav-lista.active li:nth-child(4) { transition-delay: 0.4s; }

/* Ícone hambúrguer visível no mobile */
.menu-icon {
  display: block;
  z-index: 1100;
  font-size: 40px;
  margin-left: -10px;
  }

.menu-icon i {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-icon i.bx-menu {
  opacity: 1;
  transform: rotate(0deg);
}

.menu-icon i.bx-x {
  opacity: 1;
  transform: rotate(180deg);
}

  nav .logo {
  width: 160px;
  margin-left: -40px;
  height: auto;
}



.martelo1 {
  display: none;
}

.martelo2 {
  display: none;
}


.banner-carousel {
  position: relative;
  width: 100%;
  height: 700px; 
  overflow: hidden;
  border-radius: 15px;
  background-color: #2c1e00;
}

.hero-content {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -118%);
  text-align: center;
  color: #FAF5E9;
  z-index: 2;
  max-width: 400px;
}

.hero-content h1 {
  font-size: 38px;
  margin-bottom: 15px;
  font-family: "PT Serif Caption", serif;
  font-weight: 300;
  animation: fadeUp 1s ease forwards;
}

.hero-content p {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  font-size: 17px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  animation: fadeUp 1s ease forwards;
}

.destaque {
  font-weight: 700;
  white-space: nowrap;
  white-space: normal;
}

.hero-btn {
  width: 250px;
  height: 70px;
  overflow: hidden;
  border-radius: 15px;
  border: 2.5px solid #F5E2B7;
  padding: 22px 24px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #46330A;
  font-weight: 700;
  animation: pulsar 1.5s infinite ease-in-out;
  background: linear-gradient(120deg, #F5E2B7, #C1AA74);
  transition: background 0.5s ease-in-out;
}


.Sobre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "texto"
      "imagem";
    gap: 60px;
    width: 100%;
    margin-top: -450px;
    box-sizing: border-box;
  }

  .sobre_texto {
    max-width: 420px;
    padding: 0 10px 40px;
  }

  .sobre_imagen {
    grid-area: imagem;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  .sobre_imagen img {
    width: 100%;
    height: auto;
    margin-right: 0px;
    border-radius: 12px;
    object-fit: cover;
  }

  .sobre_texto h2 {
    font-size: 36px;
  }

  .sobre_texto p {
    font-size: 18px;
    text-align: left;
    margin-right: 50px;
  }


  /* Seção principal */
.Beneficios {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Cabeçalho com título, subtítulo e botão */
.content-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
}


.texts {
    padding: 10px;
    text-align: left;
  }

  .texts h2 {
    font-size: 36px;
    padding-bottom: 30px;
  }

  .texts p {
    font-size: 18px;
  }

  .Cards {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    padding: 20px 10px 0;
    margin: 0 auto;
  }

  .card1 {
    max-width: 350px;
    height: 340px;
    max-width: 400px;
    padding-bottom: 20px;
  }
  
  .card1 p {
    text-align: left;
    font-size: 17px;
  }

  .card1 h3 {
    text-align: left;
    font-size: 22px;
  }

  .Cards > :nth-child(4),
  .Cards > :nth-child(5) {
    grid-column: auto;
    margin-left: 0;
  }

  .hero-btn2 {
    width: 80%;
    max-width: 350px;
    margin-top: 20px;
    align-self: center;
  }

  .texts-portfolio h2 {
  font-size: 36px;
  padding-left: 20px;
  color: #46330A;
  margin-top: -20px;
  padding-bottom: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "PT Serif Caption", serif;
  }

  .texts-portfolio p {
  line-height: 1.6;
  padding-left: 20px;
  font-size: 18px;
  text-align: left;
  color: #46330A;
  font-weight: 500;
}

.itens-portfolio {
  position: relative;
  height: 4700px;
  padding: 40px 20px;
  margin-top: -20px;
  z-index: 1;
  border-radius: 30px;
}

.lightbox.show {
  display: none;
  opacity: 1;
}

  .Contato {
    flex-direction: column;   
    align-items: center;      
    gap: 40px;                
    padding: 80px 20px;      
    margin-bottom: 20px;
    margin-right: 0;
  }

  .textos-contato {
    margin: 0;                
    width: 100%;              
  }

  .textos-contato h2 {
    font-size: 36px;
    color: #46330A;
    padding-bottom: 15px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .form-contato {
    border-radius: 15px;
    width: 100%;              
    max-width: 100%;          
    margin: 0;                
    padding: 30px 20px;       
    height: auto;             
  }

  .form-contato h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  .form-contato input,
  .form-contato textarea {
    font-size: 14px;          
  }

  .form-contato button {
    font-size: 18px;
    height: 55px;
    margin-top: 5px;
    padding-top: 14px;
    border-radius: 12px;
  }

  .quiosque-fotos,
  .banco-fotos {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    }

    .foto-quiosque {
    width: 120%;
    max-width: 350px;
    height: auto;
    }

    .itens-portfolio {
    position: relative;
    height: 15650px;
    background-color: #2c1e00; 
    padding: 40px 20px;
    z-index: 1;
    padding-bottom: 30px;
    border-radius: 15px;
  }

  .text-itens-portfolio1 h2 {
    font-size: 36px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 30px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio1 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio2 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio2 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio3 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio3 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .text-itens-portfolio4 h2 {
    font-size: 40px;
    color: #FAF5E9;
    padding-bottom: 15px;
    padding-top: 100px;
    font-weight: 400;
    text-align: left;
    font-family: "PT Serif Caption", serif;
  }

  .text-itens-portfolio4 p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }


  .footer {
      height: auto; 
      padding: 40px 20px;
      text-align: left;
    }

    .footer-container {
      padding-inline: 0;
      flex-direction: column;
      align-items: left;
      gap: 30px;
    }

    .footer-col1,
    .footer-col2,
    .footer-col3 {
      margin: 0; /* remove margins fixas */
      flex: 1 1 100%;
    }

    .logo-footer {
      margin: 0 auto 10px auto; /* centraliza */
      width: 150px;
    }

    .CNPJ {
      margin: 0;
      text-align: left;
      font-size: 14px;
    }

    hr {
      margin: 20px auto;
      width: 100%; /* linha menor no mobile */
    }

    .copyright {
      margin: 20px auto 0 auto;
      text-align: center;
      font-size: 16px;
    }

    .footer-column.social-media {
      justify-content: left;
      margin-top: 10px;
    }

    .footer-column.social-media a {
      padding-top: 10px;
      font-size: 24px;
    }

    .last-cta {
    align-items: center;
    width: 340px;
    display: block;
    margin-top: 80px;
    margin-left: 3px;
    padding-top: 40px;
 
    height: 350px;
    background-color: #46330A;
    background-image: url(/static/img/last-cta-foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white; 
    justify-content: space-between;
    padding-left: 30px;
  }

  .last-cta h2 {
    font-size: 33px;
    color: #FAF5E9;
    margin-top: -100px;
    font-weight: 400;
    text-align: center;
    font-family: "PT Serif Caption", serif;
  }

  .last-cta p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 18px;
    margin-top: -110px;
    text-align: center;
    font-weight: 500;
  }

  .hero-btn3 {
    width: 280px;
    height: 70px;
    border-radius: 15px;
    border: 2.5px solid #F5E2B7;
    padding: 22px;
    margin-top: -1px;
    margin-left: 0.1rem;
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #46330A;
    font-weight: 700;
    animation: pulsar 1.5s infinite ease-in-out;
    background: linear-gradient(90deg, #F5E2B7, #C1AA74);
  }
  }

@media screen and (max-width: 375px){
  .hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-family: "PT Serif Caption", serif;
  font-weight: 300;
  animation: fadeUp 1s ease forwards;
}

.hero-content p {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  font-size: 16px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  animation: fadeUp 1s ease forwards;
}

.destaque {
  font-weight: 700;
  white-space: nowrap;
  white-space: normal;
}

.hero-content {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -128%);
  text-align: center;
  color: #FAF5E9;
  z-index: 2;
  max-width: 400px;
}

.sobre_imagen img {
    width: 95%;
    height: auto;
    margin-right: 15px;
    border-radius: 12px;
    object-fit: cover;
  }

  .sobre_texto h2 {
    font-size: 36px;
  }

  .sobre_texto p {
    font-size: 18px;
    text-align: left;
    margin-right: 60px;
  }

  .last-cta {
    align-items: center;
    width: 340px;
    display: block;
    margin-top: 50px;
    margin-left: 0px;
    height: 350px;
    background-color: #46330A;
    background-image: url(/static/img/last-cta-foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white; 
    justify-content: space-between;
    padding-left: 30px;
  }

  .texts-portfolio h2 {
  font-size: 36px;
  color: #46330A;
  padding-bottom: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "PT Serif Caption", serif;
  }

.texts-portfolio p {
  line-height: 1.6;
  font-size: 18px;
  text-align: left;
  color: #46330A;
  font-weight: 500;
}
}

@media screen and (max-width: 360px){
  .hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-family: "PT Serif Caption", serif;
  font-weight: 300;
  animation: fadeUp 1s ease forwards;
}

.hero-content p {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  font-size: 15px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  animation: fadeUp 1s ease forwards;
}

.destaque {
  font-weight: 700;
  white-space: nowrap;
  white-space: normal;
}

.hero-content {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -128%);
  text-align: center;
  color: #FAF5E9;
  z-index: 2;
  max-width: 400px;
}

.sobre_imagen img {
    width: 92%;
    height: auto;
    margin-right: 30px;
    border-radius: 12px;
    object-fit: cover;
  }

  .sobre_texto h2 {
    font-size: 36px;
  }

  .sobre_texto p {
    font-size: 16px;
    text-align: left;
    margin-right: 80px;
  }

  .last-cta {
    align-items: center;
    width: 320px;
    display: block;
    margin-top: 50px;
    margin-left: 0px;
    height: 350px;
    background-color: #46330A;
    background-image: url(/static/img/last-cta-foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white; 
    justify-content: space-between;
    padding-left: 30px;
  }

  .texts-portfolio h2 {
  font-size: 36px;
  color: #46330A;
  padding-bottom: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "PT Serif Caption", serif;
  }

.texts-portfolio p {
  line-height: 1.6;
  font-size: 16px;
  text-align: left;
  color: #46330A;
  font-weight: 500;
}

.card1 p {
  text-align: left;
  font-size: 15px;
}

.card1 h3 {
  text-align: left;
  font-size: 22px;
}

.texts h2 {
  font-size: 36px;
  padding-bottom: 30px;
}

.texts p {
  font-size: 16px;
}

.quiosque-fotos,
.banco-fotos {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.foto-quiosque {
  width: 118%;
  max-width: 350px;
  height: auto;
}

.itens-portfolio {
  position: relative;
  height: 15130px;
  background-color: #2c1e00; 
  padding: 40px 20px;
  z-index: 1;
  padding-bottom: 30px;
  border-radius: 15px;
}

.last-cta h2 {
    font-size: 34px;
    color: #FAF5E9;
    margin-top: -120px;
    font-weight: 400;
    text-align: center;
    font-family: "PT Serif Caption", serif;
  }

  .last-cta p {
    color: #faf5e9c9;
    line-height: 1.6;
    font-size: 16px;
    margin-top: -120px;
    text-align: center;
    font-weight: 500;
  }

  .hero-btn3 {
    width: 270px;
    height: 70px;
    border-radius: 15px;
    border: 2.5px solid #F5E2B7;
    padding: 22px;
    margin-top: -1px;
    margin-left: -5px;
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #46330A;
    font-weight: 700;
    animation: pulsar 1.5s infinite ease-in-out;
    background: linear-gradient(90deg, #F5E2B7, #C1AA74);
  }
}